<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        body, html {
            color:#000;
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("{{url_for('static', filename='img/back.jpg')}}");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="bg">
<!-- Just an image -->
<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/mlogo.png') }}" alt="">
    </a>
</nav>
<div class="container" style="background:white;border:3px solid #ccc;padding:5px;border-radius:10px;">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center"><h2>Damage detection in car with AI.</h2></div>
        <div class="col-lg-2"></div>

    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="upload" method="post" enctype="multipart/form-data">
                <div class="row" style="margin-top:15px;">
                    <div class="col-lg-8"><label class="btn btn-dark text-center" style="width:100%;">
                        <span>Browse Image</span><input type="file" name="file" hidden>
                    </label></div>
                    <div class="col-lg-4"><label class="btn btn-dark">
                        <span>Find Damage</span><input type="submit" hidden>
                    </label></div>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    {% if unknown%}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="col-lg-12 text-center">
                <div class="row" style="border-bottom: 2px dotted #aaa;padding-bottom: 20px;">
                    <img src="{{filename}}"
                         alt="Mountain View"
                         style="max-height:300px;display: block; margin-left: auto; margin-right: auto;margin-top: 20px;">
                </div>
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-12 text-center" style="color:#555;"><h6>This is not a car.</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Confidence</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{Confidence}}%</h6></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    {% endif %}
    {% if known%}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="col-lg-12 text-center">
                <div class="row" style="border-bottom: 2px dotted #aaa;padding-bottom: 20px;">
                    <img src="{{filename}}"
                         alt="Mountain View"
                         style="max-height:300px;display: block; margin-left: auto; margin-right: auto;margin-top: 20px;">
                </div>
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Damage Location</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{damage_location}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Damage Severity</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#{{color_code}};"><h6>{{damage_level}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Make</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{make}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Model</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{model}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Insurance Policy Number</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{policy_number}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Car Registration</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{car_registration}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Estimated repair cost</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{cost}}</h6></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 text-left" style="color:#555;"><h6>Confidence</h6></div>
                    <div class="col-lg-2 text-center" style="color:#555;"><h6>:</h6></div>
                    <div class="col-lg-5 text-right" style="color:#555;"><h6>{{Confidence}}%</h6></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>